.leftHeading {
    font-size: 40px;
    margin: 50px 70px;
    color: white;
  }
  .leftHeadingBottom {
    font-size: 30px;
    margin: 0 70px;
    color: white;
  }
  
  .leftSide h2 {
    margin: 0%;
  }
  
  .leftSide h1 {
    margin-bottom: 0%;
  }
  .leftSide p {
    font-size: 12px;
    color: rgb(99, 98, 98);
  }
  .leftSide h5 {
    color: rgb(191, 191, 191);
    font-size: 15px;
    font-weight: 100;
    margin: 0%;
    margin-bottom: -13px;
    margin-top: 5px;
  }
  .btnclick {
    font-size: 13px;
    
  }
  .btnclick:hover {
    background-color: #ee6535;
  }
  .leftSide .icon {
    border: 2px solid rgb(24, 24, 24);
    background-color: #141415;
    padding: 14px 16px 6px 14px !important;
    border-radius: 50%;
    margin: 8px;
  }
  
  .inputField {
    background: #141415;
    border-color: aliceblue;
    border-radius: 5px;
    color: rgb(179, 187, 245) !important;
  }

  .visiblePassword{
    color: rgb(173, 173, 173) !important;
  }
  .inputField:focus {
    border: none;
    display: none;
  }
  